<form>
  <label for="jira-key">JIRA KEY</label>
  <input class="bg-blue-100"
    type="text" id="jira-key" name="jira-key" value="<%= (@ jira-key ) %>">
  <button type="button"
          class="text-lg bg-blue-400 text-white font-bold px-2"
          hx-post="/setcookie/"
          hx-target="#cookiehere">
    Set JIRA key.
  </button>
    <a href="https://issues.redhat.com/secure/ViewProfile.jspa?selectedTab=com.atlassian.pats.pats-plugin:jira-user-personal-access-tokens">Get One Here</a>
</form>
